#panels {
	height: 90vh;
	height: calc(var(--vh, 1vh) * 90);
	width: 100vw;

	display: none;
	flex-direction: column;
	background-color: #262626;
}

/* Style the tab content */
#panels .tabcontent {
	float:right;
	width: 100vw;
	height: 90vh;
	height: calc(var(--vh, 1vh) * 90);
	display: none;
	border: none;
}