#panels {
	height:90vh;
	width:30vw;
	float:right;
	position:absolute;
	bottom: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	background-color: #262626;
}

/* Style the tab content */
#panels .tabcontent {
	float:right;
	width: 30vw;
	height: 90vh;
	display: none;
	border: none;
}