#right_panel {
	height:90vh;
	width:30vw;
	float:right;
	position:absolute;
	bottom: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	background-color: #262626;
}


/* Style the tab content */
.tabcontent {
	float:right;
	width: 30vw;
	height: 90vh;
	display: none;
	border: none;
}

#contacts_list
{
	display: flex;
	flex-direction: column;
}

.contact
{
	display: flex;
	margin-top: 3%;
	cursor: pointer;
}

.contact:hover
{
	opacity: .5;
}

.contact_name
{
	margin-left: 4%;
	margin-right: 4%;
	width: 100%;
	display: flex;
	border-bottom: 1px solid rgba(120, 200, 255, 0.2);
}

.contact_name p
{
	font-size: 20px;
	width: 100%;
	margin: auto;
	margin-left: 4%;
	font: normal 100 20px/1.5em "Exo 2", Arial, sans-serif;
}

.contact img
{
	width: 70px;
	height: 70px;
	border-radius: 50%;
}
