#mail
{
	display: flex;
	flex-direction: column;
	background: rgba(120, 200, 255, 0.1);
}

#mail_header
{
	height: 10%;
	min-height: 30px;
	min-width: 300px;
	display: none;
	color: rgba(120, 200, 255, 0.8);/* = #78C8FF*/
	font-size: 20px;
	justify-content: space-around;
	align-items: center;
	border-bottom: 1px solid #4c80a3;
}

.box_mail_header
{
	flex: 1;
	display: flex;
	justify-content: center;
}

#backBtn, #signOutBtn
{
	border: 1px solid #547692;
	padding: 5px;
	color: #72C5F9;
	background-color: #436277;
}

#backBtn:hover, #signOutBtn:hover
{
	cursor: pointer;
}

#mail_body
{
	display: none;
	color: rgba(120, 200, 255, 0.8);/* = #78C8FF*/
	height: 100%;
	min-width: 300px;
	flex-direction: column;
}

#mail_info_bar
{
	padding-top: 5px;
	padding-bottom: 5px;
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid #4c80a3;
	font-weight: bold;
}

#exchangeInfo
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-left: 10px;
	margin-right: 10px;
}

#mail_info_bar > p:last-child
{
	margin-top: 10px;
	text-align: center;
}

#mail_messages
{
	display: flex;
	flex-direction: column;
	overflow: auto;
	height: 100%;
}

#mail_messages > div
{
	padding-bottom: 5px;
	padding-top: 5px;
	border-bottom: 1px solid #4c80a3;
}

#mail_messages > div:hover
{
	cursor: pointer;
	opacity: 1;
}

/* Style the input container */

.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

/* Style the form icons */
.icon {
  padding: 10px;
  background: #4c80a3;
  color: white;
  min-width: 50px;
  text-align: center;
}


/* Style the input fields */
#mail .input-field {
  width: 100%;
  outline: none;
  border: none;
  background-color: rgba(120, 200, 255, 0.1);
  color: #4c80a3;
}

.input-field:focus {
  border: 2px solid #4c80a3;
}

#mail form
{
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
}

#mail form p
{
	color: red;
	font-size: 20px;
	display: none;
}

/* Set a style for the submit button */
#mail form .btn {
  background-color: #4c80a3;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  font-size: 20px;
}

#mail form .btn:hover {
  opacity: 1;
}

#mail form #loginInput {
	margin-bottom: 5%;
}

#mail form #passwordInput {
	margin-bottom: 10%;
}
