#keyboard {
	width: 100vw;
	height: 40vh;
	height: calc(var(--vh, 1vh) * 40);
	background-color: #262626;
}

#keyboard.hidden {
	display: none;
}

#keyboard table {
	width: 100%;
	height: 100%;
}

#keyboard table tr {
	width: 100%;
	height: 8vh;
	height: calc(var(--vh, 1vh) * 8);
}

#keyboard table tr td {
	width: 5%;
	height: 8vh;
	height: calc(var(--vh, 1vh) * 8);
	text-align: center;
	vertical-align: middle;
	border: 1px solid #0099CC;
	color: #4c80a3;
	font-family: "Exo 2", Arial, sans-serif;
}