#right_panel {
	height:100vh;
	width:40vw;
	background:#000000;
	float:right;
}

#tabField {
	width:100%;
	height:5%;
}

#right_panel_content {
	height:95%;
	width:100%;
	background:#FFFFFF;
}

.tab {
	width:25%;
	height:100%;
	float:left;
	border-color: black;
	border-style: solid;
	text-align: center;
	display: table;
	color: black;
	cursor: arrow;
	cursor: pointer;
	opacity: 0.6;
}

.tab:hover {
	opacity: 1;
}

span {
	display: table-cell;
	vertical-align: middle;
}

#mail {
	background:#FF0000;
}

#social {
	background:#FFFF00;
}

#browser {
	background:#00FF00;
}

#summary {
	background:#0000FF;
}