#right_panel {
	height:100vh;
	width:30vw;
	background-color: yellow;
	float:right;
	position:relative;
}

/* Style the tab */
.tab {
	overflow: hidden;
	background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab img {
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	transition: 0.3s;
	width:7.5vw;
	height:10vh;
	opacity: 0.6;
}

/* Change background color of buttons on hover */
.tab img:hover {
	opacity: 1;
	background-color: #000000;
}

/* Create an active/current tablink class */
.tab .active {
	opacity: 1;
}

/* Style the tab content */
.tabcontent {
	float:right;
	width: 30vw;
	height: 90vh;
	background-color: greenyellow;
	display: none;
	border: none;
}

#mail_btn {
	background-color: violet;
}
#mail {
	background-color: violet;
}

#browser_btn{
	background-color: cornflowerblue;
}
#browser{
	background-color: cornflowerblue;
}

#sms_btn{
	background-color: indianred;
}
#phone{
	background-color: indianred;
}

#diary_btn{
	background-color: palegoldenrod;
}
#notebook{
	background-color: palegoldenrod;
}

#contacts_list
{
	margin-top: 5px;
    display: flex;
    flex-direction: column;
}

.contact
{
	display: flex;
	margin-top: 3%;
}

.contact_name
{
	margin-left: 4%;
	margin-right: 4%;
	width: 100%;
	display: flex;
	border-bottom: 1px solid black;
}

.contact_name p
{
	font-size: 20px;
	width: 100%;
	margin: auto;
	margin-left: 4%;
	font-weight: bold;
}

.contact img
{
	width: 70px;
	height: 70px;
	border-radius: 50%;
}
