#right_panel {
	height:100vh;
	width:30vw;
	background:#000000;
	float:right;
}


#right_panel_button_tab {
	text-align:center;
	height:100%;
	width:100%;
}

.tab {
	opacity: 0.6;
}

img:hover{
	-webkit-filter: drop-shadow(5px 5px 5px yellow);
	filter: drop-shadow(3px 3px 3px yellow);
}



.tab:hover {
	opacity: 1;
}

#mail {
	color:white;
	background-image: radial-gradient(circle at center, lightgreen, green);
}

#social {
	color:white;
/*	background-color: yellow; */
	background-image: radial-gradient(circle at center, yellow, orange);

}

#browser {
	color:white;
	/* background-color: indianred; */
	background-image: radial-gradient(circle at center, orangered, darkred);
}

#summary {
	color:white;
	/* background-image: radial-gradient(circle at center, lightgreen, green); *?
		background-color: cornflowerblue;
	 */

	background-image: radial-gradient(circle at center, cornflowerblue, blue);
}

#right_panel_button_tab td {
	vertical-align: middle;
	text-align: center;
}
